<html>
    <head>
        <title>{$title}</title>
    </head>

    <body>
	<h2>Aktivační e-mail z webu 27skauti.cz</h2>
	
	<p>Děkujeme za registraci na našem webu <a href="http://www.27skauti.cz">27skauti.cz</a>.</p>

	<ul>
		<li><strong>Uživatelské jméno:</strong> {$username}</li>
	</ul>

	<p>Pro aktivaci vašeho účtu prosím klikněte na tento <a n:href="//:Front:Default:Sign:Activate username => $username, token => $token">odkaz</a>.</p>

    </body>
</html>
