<html>
    <head>
        <title>{$title}</title>
    </head>

    <body>
	<h2>Žádost o propojení účtů na oddílovém webu (27skauti.cz)</h2>

	<ul>
            <li>
                <strong>Uživatelské jméno:</strong> {$username}
            </li>
            <li>
                <strong>Jméno:</strong> {$name}
            </li>
            <li>
                <strong>Příjmení:</strong> {$surname}
            </li>
        </ul>

    </body>
</html>
