{**
 * Left hand side manu - main menu
 *
 * @author Patrick Kusebauch
 * @version 1.05, 03. 11. 2014
 *
 * @param Component $children   contains the individual NavigationNode
 *}
{block #menu}
<ul>
	<li n:foreach="$children as $item">
		{var $url = $item->url . '*'}
	        <a{ifCurrent $url} class="current"{/ifCurrent} href="{plink $item->url}">{$item->label}</a>
	</li>
</ul>
{/block}
